$animation: move-up 4s ease-in-out infinite,
pulse 1s linear infinite;
$w-animation: move-up 4s infinite,
pulse 1s infinite;
$color: #f00;
.heart {
    background-color: $color;
    display: inline-block;
    height: 30px;
    margin: 20px;
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
    width: 30px;
    animation: $animation;
    -webkit-animation: $w-animation;
    -webkit-backface-visibility: hidden;
    -moz-animation: $w-animation;
    -o-animation: $w-animation;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    @media screen and (max-width: 600px) {
        scale: 0.5;
    }
}

.heart:before,
.heart:after {
    content: '';
    background-color: $color;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}

@keyframes move-up {
    from {
        bottom: 0;
        opacity: 0.2;
    }
    to {
        bottom: 100vh;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: rotate(-45deg) scale(1);
    }
    50% {
        transform: rotate(-45deg) scale(3);
    }
}